.qr-reader-container {
    margin-top: 10%;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.qr-info-container {
    width: 40vw;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    border: 1px solid rgb(237, 235, 235) ;
    border-radius: 22px;
    padding: 10px 25px;
    box-shadow: 13px 13px 20px  rgb(229, 227, 227);


}

.qr-reader{
    border: 1px solid rgb(206, 204, 204) ;
    border-radius: 10px;
    width:30vw;
    box-shadow: 13px 13px 20px  rgb(229, 227, 227);
    background-color:black;
    
}

.qr-info-save-button {
    padding: 10px 25px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    width: 100%;
    background-color: teal;
    color: white;
    text-transform: uppercase;
}